<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul class="menu">
<li>
  <a routerLink="welcome"> WELCOME </a> 
</li>
<li>
  <a routerLink="bio"> BIO </a> 
</li>
<li>
  <a routerLink="education"> Education </a> 
</li>
<li>
  <a routerLink="work"> Work </a> 
</li>
<li>
  <a routerLink="project"> Projects </a> 
</li>
<li>
  <a routerLink="others"> Others </a> 
</li>
<li>
  <a routerLink="contact"> Contact </a> 
</li>

</ul>

<router-outlet></router-outlet>

